.btn-outline-secondary {
    background-color: rgb(124, 113, 113);
    border-left: none;
    margin-top: 11px;
    margin-right: 20px;
    padding-left: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.lupa {
    max-width: 20px;
    max-height: auto;
}

.btn-outline-secondary:hover {
    background-color: white;
}

.input-group .form-control {
    background-color: black;
    color: white;
    margin-top: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-left: 20%;
}

.custom-placeholder::placeholder {
    color: grey;
}
.microfono{
    max-width: 40px;
    max-height: auto;
    margin-top: 10px;
    margin-right: 20px;
    background-color: grey;
}
.camera{
    max-width: 40px;
    max-height: auto;
    margin-top: 10px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    margin-left: 200px;
}
.campana{
    max-width: 40px;
    max-height: auto;
    margin-top: 10px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
}
.selfie{
    max-width:40px;
    max-height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
}
.barraBtn{
    display:block;
}