.btn2{
    background-color: rgb(62, 59, 59);
    text-align: center;
    color:white;
    margin-right: 10px;
    border-color: rgb(62, 59, 59);
}
.btn2:hover{
    background-color: white;
    color: black;
    border-color: white;
}